#IDE files
.idea/

#Modules
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# Build outputs
out/
target/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
